Source: debs
Maintainer: Andrew Stone <a@stoney.io>
Section: devel
Priority: optional
Standards-Version: 3.9.6
X-Python-Version: >= 2.8
X-Python3-Version: >= 3.5
Build-Depends:
	debhelper (>= 9),
	dh-exec,
	dh-python | python-support,
	python-all,
	python3-all,
	python3-setuptools,

Package: debs
Architecture: all
Depends:
	${misc:Depends},
	${python3:Depends},
	python3-debs (=${binary:Version}),
Recommends:
	bash-completion
Description: For building your .debs
	Automates building .deb files locally for a bunch of different
	environments and pushing them to a remote repo with dput. Also has support
	for managing sbuild environments.

Package: python3-debs
Architecture: all
Depends:
	${misc:Depends},
	${python3:Depends},
	python3 (>= 3.5),
	dput,
	quilt,
	sbuild,
	schroot,
	sudo,
Recommends:
	bash-completion
Description: Library version of debs
	Library that assists in automating managing a bunch of debian packages.
